.product-list__list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
    margin-block: 0;
    padding-inline: 0;
    margin-inline: 0;
}

@media only screen and (min-width: 768px) {
    .product-list__list-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.product-list__list-item {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid #ddd;
}
